@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}
h1 {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 30px;
    color: #11101d;
    border-bottom: 4px solid #11101d;
    position: relative;
    top: 50%;
    overflow: hidden;
}

h2 {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 30px;
    color: green;
    border-bottom: 4px solid #11101d;
    position: relative;
    top: 50%;
    overflow: hidden;
}
