.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color:#1d1b31
}
.cardBox .card .cardName {
    color: #11101d;
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBx{
    color: #11101d;
    font-size: 3.5em;
}
.cardBox .card:hover {
    background: #11101d;
}
.cardBox .card:hover .numbers {
    color: #fff;
}
.cardBox .card:hover .cardName {
    color: #fff;
}
.cardBox .card:hover .iconBx {
    color: #fff;
}
